In [5]:
#pip install library

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [6]:
#pip install geopandas

In [7]:
#pip install geopy

In [8]:
##Import Raw Data

In [9]:
crime_data = pd.read_csv('../data/raw/Crime_Data_from_2020_to_Present.csv')

In [10]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779803 entries, 0 to 779802
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           779803 non-null  int64
 1   Date Rptd       779803 non-null  object
 2   DATE OCC        779803 non-null  object
 3   TIME OCC        779803 non-null  int64
 4   AREA            779803 non-null  int64
 5   AREA NAME       779803 non-null  object
 6   Rpt Dist No     779803 non-null  int64
 7   Part 1-2        779803 non-null  int64
 8   Crm Cd          779803 non-null  int64
 9   Crm Cd Desc     779803 non-null  object
 10  Mocodes         672622 non-null  object
 11  Vict Age        779803 non-null  int64
 12  Vict Sex        677796 non-null  object
 13  Vict Descent    677788 non-null  object
 14  Premis Cd       779794 non-null  float64
 15  Premis Desc     779342 non-null  object
 16  Weapon Used Cd  271192 non-null  float64
 17  Weapon Desc     271192 non-null  object
 18  Status          779803 non-null  object
 19  Status Desc     779803 non-null  object
 20  Crm Cd 1        779793 non-null  float64
 21  Crm Cd 2        57524 non-null   float64
 22  Crm Cd 3        1919 non-null    float64
 23  Crm Cd 4        57 non-null      float64
 24  LOCATION        779803 non-null  object
 25  Cross Street    125081 non-null  object
 26  LAT             779803 non-null  float64
 27  LON             779803 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 166.6+ MB

In [11]:
crime_data.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,7.798030e+05,779803.000000,779803.000000,779803.000000,779803.000000,779803.000000,779803.000000,779794.000000,271192.000000,779793.000000,57524.000000,1919.000000,57.000000,779803.000000,779803.000000
mean,2.153480e+08,1335.099902,10.719150,1118.340780,1.414912,500.733758,29.892115,305.787552,362.680857,500.474448,957.441068,983.781136,990.368421,33.974655,-118.010763
std,1.054132e+07,654.042855,6.090923,609.086052,0.492707,207.878007,21.749322,216.618605,123.713283,207.668711,111.594467,50.959593,28.594225,1.835843,6.365971
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-3.000000,101.000000,101.000000,110.000000,210.000000,434.000000,821.000000,0.000000,-118.667600
25%,2.101090e+08,900.000000,6.000000,622.000000,1.000000,331.000000,10.000000,101.000000,309.000000,331.000000,998.000000,998.000000,998.000000,34.013200,-118.429600
50%,2.120167e+08,1415.000000,11.000000,1142.000000,1.000000,442.000000,31.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.000000,34.058400,-118.321500
75%,2.217059e+08,1900.000000,16.000000,1617.000000,2.000000,626.000000,45.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.000000,34.163100,-118.273900
max,2.399165e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,974.000000,516.000000,956.000000,999.000000,999.000000,999.000000,34.334300,0.000000

In [12]:
crime_data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [13]:
biz_data = pd.read_csv('../data/raw/Listing_of_Active_Businesses.csv')

In [14]:
biz_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574882 entries, 0 to 574881
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   LOCATION ACCOUNT #         574882 non-null  object
 1   BUSINESS NAME              574881 non-null  object
 2   DBA NAME                   195125 non-null  object
 3   STREET ADDRESS             574878 non-null  object
 4   CITY                       574830 non-null  object
 5   ZIP CODE                   574882 non-null  object
 6   LOCATION DESCRIPTION       574856 non-null  object
 7   MAILING ADDRESS            293126 non-null  object
 8   MAILING CITY               293139 non-null  object
 9   MAILING ZIP CODE           292999 non-null  object
 10  NAICS                      512105 non-null  float64
 11  PRIMARY NAICS DESCRIPTION  512105 non-null  object
 12  COUNCIL DISTRICT           574882 non-null  int64
 13  LOCATION START DATE        571304 non-null  object
 14  LOCATION END DATE          0 non-null       float64
 15  LOCATION                   555306 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 70.2+ MB

In [15]:
biz_data.describe()

               NAICS  COUNCIL DISTRICT  LOCATION END DATE
count  512105.000000     574882.000000                0.0
mean   548418.738187          6.396020                NaN
std    164242.149238          4.940528                NaN
min    115210.000000          0.000000                NaN
25%    452000.000000          2.000000                NaN
50%    541213.000000          5.000000                NaN
75%    624200.000000         11.000000                NaN
max    999999.000000         15.000000                NaN

In [16]:
biz_data.head()

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LOCATION END DATE,LOCATION
0,0000000150-0001-5,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,2015 W TEMPLE STREET,LOS ANGELES,90026-4913,2015 TEMPLE 90026-4913,2607 VAN BUREN PLACE,LOS ANGELES,90007-2129,611000.0,"Educational services (including schools, colle...",13,1/1/91,NaN,NaN
1,0000000156-0001-2,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,MONEY MANAGEMENT INTERNATIONAL,1605 W OLYMPIC BLVD #9023,LOS ANGELES,90015-3828,1605 OLYMPIC 90015-3828,NaN,NaN,NaN,523900.0,Other financial investment activities (includi...,1,2/1/99,NaN,NaN
2,0002842614-0001-2,AUSTIN B CREEK,NaN,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,3610 MAGNOLIA 91505-2913,NaN,NaN,NaN,711510.0,"Independent artists, writers, & performers",0,9/1/08,NaN,"(34.168, -118.3463)"
3,0003176540-0001-1,SOEUNG CHAING,CAFECAFE,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,1330 PACIFIC COAST 90744-2467,NaN,NaN,NaN,722211.0,Limited-service eating places,15,1/1/20,NaN,"(33.7901, -118.2804)"
4,0002728984-0001-8,MARIA ALVAREZ,NaN,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,9625 SYLMAR 91402-1153,NaN,NaN,NaN,561720.0,Janitorial services,6,1/1/13,NaN,"(34.2447, -118.4476)"

In [17]:
#For crime data, need only location , type of crime & crime date rough timing . 
#the rest of the columns shall be dropped..

In [20]:
# Create a new DataFrame columns for 'LAT' and 'LON' and fill with NaN initially
biz_data['LAT'] = float('nan')
biz_data['LON'] = float('nan')

# Loop through the DataFrame and fill 'LAT' and 'LON' columns only if 'LOCATION' is not null
for index, row in biz_data.iterrows():
    location = row['LOCATION']
    if location is not None and isinstance(location, tuple):
        lat, lon = location
        biz_data.at[index, 'LAT'] = lat
        biz_data.at[index, 'LON'] = lon

In [21]:
biz_data.head()

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LOCATION END DATE,LOCATION,LAT,LON
0,0000000150-0001-5,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,2015 W TEMPLE STREET,LOS ANGELES,90026-4913,2015 TEMPLE 90026-4913,2607 VAN BUREN PLACE,LOS ANGELES,90007-2129,611000.0,"Educational services (including schools, colle...",13,1/1/91,NaN,NaN,NaN,NaN
1,0000000156-0001-2,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,MONEY MANAGEMENT INTERNATIONAL,1605 W OLYMPIC BLVD #9023,LOS ANGELES,90015-3828,1605 OLYMPIC 90015-3828,NaN,NaN,NaN,523900.0,Other financial investment activities (includi...,1,2/1/99,NaN,NaN,NaN,NaN
2,0002842614-0001-2,AUSTIN B CREEK,NaN,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,3610 MAGNOLIA 91505-2913,NaN,NaN,NaN,711510.0,"Independent artists, writers, & performers",0,9/1/08,NaN,"(34.168, -118.3463)",NaN,NaN
3,0003176540-0001-1,SOEUNG CHAING,CAFECAFE,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,1330 PACIFIC COAST 90744-2467,NaN,NaN,NaN,722211.0,Limited-service eating places,15,1/1/20,NaN,"(33.7901, -118.2804)",NaN,NaN
4,0002728984-0001-8,MARIA ALVAREZ,NaN,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,9625 SYLMAR 91402-1153,NaN,NaN,NaN,561720.0,Janitorial services,6,1/1/13,NaN,"(34.2447, -118.4476)",NaN,NaN